<div>
	<canvas class="canvas" src="/canvas.js" ></canvas>
	<div class="intro_name_bg">
		<h1 class="intro_name">Kerron S. Streater</h1>
	</div>
</div>
<nav class="navbar-expand-sm about_bar sticky-top">
	<ul class="navbar-nav">
		<li class="nav-item about">BIO</li>
		<li class="nav-item about">CONNECT</li>
		<li class="nav-item about">PROJECTS</li> 
		<li class="nav-item about">CONTACT</li>
	</ul>
</nav>

<!-- <div class="meat"> -->

	<div id="a1">
		<div>
			<h1 id="intro"></h1>
		</div>
		<div class="col-sm-12 about_pics row">
			<div class="col-sm-3 about1 slide">
				<div class="trapezoid">
					<div><%= image_tag("creativity.png", :class => "about-icon") %></div>
				</div>
				<div> Creative </div>
				<div> Commited to finding unique yet simple solutions to everyday problems </div>
			</div>
			<div class="col-sm-3 about2 slide">
				<div class="trapezoid">
					<div><%= image_tag("bow-tie.png", :class => "about-icon") %></div>
				</div>
				<div> Refined </div>
				<div> Elegant and easy to navigate UX/UI that work on any device </div>
			</div>
			<div class="col-sm-3 about3 slide">
				<div class="trapezoid">
					<div><%= image_tag("swift.png", :class => "about-icon") %></div>
				</div>
				<div> Speedy </div>
				<div> Responsive desings with minimal load times </div>
			</div>
			<div class="col-sm-3 about4 slide">
				<div class="trapezoid">
					<div><%= image_tag("kenetic.png", :class => "about-icon") %></div>
				</div>
				<div> Kenetic </div>
				<div> Lively, not static, webpages that are visually engaging </div>
			</div>
		</div>
	</div>
	<div id="a2">
		<div class="a1content col-sm-9 flex"> 
			<div class="row">
				<div class="col-sm-3">
					<div class="c1 circle shapeborder">
						<div class="c2 circle">
							<div class="c3 circle">	
								<%= image_tag("kerron.jpg", :class => "kerron_circle") %>
							</div>
						</div>
					</div>
					<div>Kerron Who?</div>
					<div>A man. As falliable and any other, as mortal as any other.</div> 
				</div>
				<div class="col-sm-6 skill">
					<% @skills.each do |skill| %>
						<div class="row skill">
							<div class="full-skill-bar"> 
								<span class="skill-level slide-bar" style="min-width: calc(<%= skill.proficientcy %>px * 3 + 150px);"></span>
								<span class="skill-name">
									<%= skill.name %>
								</span>
								<span class="skill-percent">
									<%= skill.proficientcy %>% 
								</span>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		
	</div>

	<div id="a3" class="container-flex">
		<div class="a3content col-sm-12">

			<ul>
				<li class="all button" data-filter="all">all</li>
				<li class="blue_button" data-filter=".blue">blue</li>
				<li class="red_button" data-filter=".red">red</li>
				<li class="white_button" data-filter=".white">white</li>
				<li class="green_button" data-filter=".green">green</li>
				<li class="orange_button" data-filter=".orange">orange</li>
				<li class="orange_button" data-filter=".gold">gold</li>				
			</ul>

			<div class="container">
				<div class="row justify-content-center">
					<% @projects.each do |project| %>
						<div class="col-md-3 gitbox5 mix red">
							<div class="overlay">
								<div class="top_overlay">
								    <div class="text">
								    	<h2><%= project.name %></h2>
								    	<h3><%= project.language %></h3>	
								    	</div>
							  	</div>
							    <div id="<%= project.id %>" class="btm_overlay">
								    <div class="text_btm">Learn More</div>
								</div>
							</div>
						</div>
					<% end %>
					<% @projects.each do |project| %>
						<!-- Modal Content -->
						<div id="modal<%= project.id %>" class="outer-outer">
							<div class="outer"></div>
							<div class="inner-content">
								<p><%= project.id %></p>
								<h1><%= project.name %></h1>
								<h3><%= project.description %></h3>
								<a href="<%= project.link %>">View Code</a>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>		

	</div>
	<div id="a4">
		<div class="arrowdown"></div>
		
		<div class="meetme col-sm-5">
			<h1>Contact</h1>
			<h3>Let's connect and make something awesome together</h3>
		</div>

		<div class="myform col-sm-5">
			<%= form_for @contact do |f| %>
				<div><%= f.text_field :f_name, class: 'myform-info', placeholder: "Your Name" %></div>
				<div><%= f.text_field :company, class: 'myform-info', placeholder: "Company (Not required)" %></div>
				<div><%= f.select(:reason, options_for_select([['Random Bypasser', 'Random'], ['Job Recruiter','Recruiting'], ['Employer Checking You Out', 'Employer']]), {:prompt => 'What Brings You Here?'}, {:class => 'myform-why'}) %></div>
				<div><%= f.text_area :l_name, class: 'myform-text', placeholder: 'Want to tell me something?' %></div>
				<div><%= f.text_field :email, class: 'myform-mail', placeholder: "Email" %></div>
				  
				<%= f.submit 'Submit', class: 'myform-button' %>
			<% end %>
		</div>

	</div>