<div id="a0">
	<canvas class="canvas" src="/canvas.js" ></canvas>
	<div class="intro_name_bg">
		<h3 class="intro_text"><div class="intro_name"><h3>Kerron S. Streater</h3></div> Web Developer Extraordinaire</h3>
		<div class="canvas_button">Let's Jump Into It<div class="canvas_arrow"><h4>&#8680;</h4></div></div>
	</div>
</div>
<nav class="navbar-expand-sm sticky-top">
	<ul class="navbar-nav about_bar">
		<li class="nav-item about scroll_about ">ABOUT</li>
		<li class="nav-item about scroll_skills">SKILLS</li>
		<li class="nav-item about scroll_projects">PROJECTS</li> 
		<li class="nav-item about scroll_contact">CONTACT</li>
		<li class="burger_holder">
			<div class="hamburger"></div>
			<div class="hamburger"></div>
			<div class="hamburger"></div>
		</li>
	</ul>
	<ul class="navbar-nav mobile_about_bar">
		<li class="nav-item about_mobile scroll_about ">ABOUT</li>
		<li class="nav-item about_mobile scroll_skills">SKILLS</li>
		<li class="nav-item about_mobile scroll_projects">PROJECTS</li> 
		<li class="nav-item about_mobile scroll_contact">CONTACT</li>
	</ul>

</nav>



	<div id="a1">
		<div class="section_title">ABOUT</div>
		<div class="underline"></div>
		<div class="intro_holder" >
			<h2 id="intro"></h2>
		</div>
		<div class="container flex">
			<div class="row no-gutters help_us">
				<div class="col-lg-6 help_me">
	
						<div class="about_group flex">
							<div class="trapezoid slide_left">
								<div><%= image_tag("creativity.png", :class => "about-icon creative_icon") %></div>
							</div>
							<div class="about_title"> Creative </div>
							<div class="about_text">Unique & simple solutions to everyday problems </div>
						</div>
						<div class=" about_group flex">
							<div class="trapezoid slide_left">
								<div><%= image_tag("bow-tie.png", :class => "about-icon refined_icon") %></div>
							</div>
							<div class="about_title"> Refined </div>
							<div class="about_text"> Elegant and easy to navigate UX/UI that work on any device </div>
						</div>
	
				</div>
				<div class="col-lg-6 help_me">

						<div class="about_group flex">
							<div class="trapezoid slide_right">
								<div><%= image_tag("swift.png", :class => "about-icon speedy_icon") %></div>
							</div>
							<div class="about_title"> Speedy </div>
							<div class="about_text"> Responsive desings with minimal load times </div>
						</div>
						<div class=" about_group flex">
							<div class="trapezoid slide_right">
								<div><%= image_tag("kenetic.png", :class => "about-icon kenetic_icon") %></div>
							</div>
							<div class="about_title"> Kenetic </div>
							<div class="about_text"> Lively, not static, webpages that are visually engaging </div>
						</div>
	
				</div> 
			</div>
		</div>
	</div>



	<div id="a2">
		<div class="section_title"> SKILLS </div>
		<div class="underline"></div>
		<div class="container a2content col-sm-9 flex"> 
			<div class="row">
				<div class="col-lg-6 myth_whole flex">
					<div class="c1 circle shapeborder">
						<div class="c2 circle">
							<div class="c3 circle">	
								<%= image_tag("kerron.jpg", :class => "kerron_circle") %>
							</div>
						</div>
					</div>
					<div class="man_myth">Man? Myth? Legend?</div>
					<div class="myth_text">An eternal creative optimist, focused on finding the best solutions to life's problems.</div> 
				</div>
				<div class="col-lg-6 flex skill_column">
					<% @skills.each do |skill| %>
						<div class="row skill ">
							<div class="full-skill-bar"> 
								<div class="skill-level slide-bar" style="min-width: <%= skill.proficientcy %>%;">
								</div>
								<div class="skill-name">
									<%= skill.name %>
								</div>
								<div class="skill-prof">
									<%= skill.proficientcy %>%
								</div> 
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		
	</div>

	<div id="a3" class="container-flex">

		<div class="section_title"> PROJECTS </div>
		<div class="underline"></div>
		<div class="a3content col-lg-12">

			<div class="container flex">
				<div class="row no-gutters help_us">
					
					<div class="col-lg-12 help_me">

						<div class=" active new_pj_bar npj1" data-filter="all"><div class="pj_title" data-filter="all">All</div></div><!-- this is added to remove the space between in-line elements
						--><div class="new_pj_bar npj2" data-filter=".ruby_on_rails"><div class="pj_title" data-filter=".ruby_on_rails">Ruby On Rails</div></div><!--  this is added to remove the space between in-line elements
						--><div class="new_pj_bar npj3" data-filter=".reactjs"><div class="pj_title" data-filter=".reactjs">ReactJS</div></div><!-- this is added to remove the space between in-line elements
						--><div class="new_pj_bar npj4" data-filter=".javascript"><div class="pj_title" data-filter=".javascript">JavaScript</div></div><!-- this is added to remove the space between in-line elements
	 					--><div class="new_pj_bar_slider npj5"></div>
		
					</div> 
				</div>
			</div>

			<br>

			<div class="project_holder">
				<div class="row project_row justify-content-center">
					<% @projects.each do |project| %>
						<div class=" gitbox5 mix <%= project.language %>">
							<%= image_tag project.main_pic.url, style: 'height: 300px; width: 400px;', :class => "main_pic" %>
							<div class="overlay">
								<div class="top_overlay">
								    <div class="text">
								    	<h3><%= project.name %></h3>
								    	<h4 style="color: #D9AB9A;"><%= project.language %></h4>	
								    	</div>
							  	</div>
							    <div id="<%= project.id %>" class="btm_overlay">
								    <h5 class="text_btm">Learn More</h5>
								</div>
							</div>
						</div>
					<% end %>

					
	<!--  ------------------ Modal Content -----------------------  -->
					<% @projects.each do |project| %>
					
						<div id="modal<%= project.id %>" class="outer-outer">
							<div class="outer"></div>
							 <div class="inner-content">
								<!-- <%= project.id %> -->
								<div>
									<div id="picture_carousel<%= project.id %>" class="carousel" data-ride="carousel">

												  
										<!-- The slideshow -->
										<div class="born">
											<!-- Indicators -->
											<ul class="carousel-indicators">
											    <li data-target=".picture_carousel" data-slide-to="0" class="active"></li>
											    <li data-target=".picture_carousel" data-slide-to="1"></li>
											    <li data-target=".picture_carousel" data-slide-to="2"></li>
											</ul>
													
											<div class="carousel-inner">
											    <div class="carousel-item active">
											    	<%= image_tag project.pic1.url, style: 'height: auto; width: 100%;', :class => "pic1" %>
											    </div>
											    <div class="carousel-item">
											    	<%= image_tag project.pic2.url, style: 'height: auto; width: 100%;', :class => "pic2" %>
											    </div>
											    <div class="carousel-item">
											    	<%= image_tag project.pic3.url, style: 'height: auto; width: 100%;', :class => "pic3" %>
											    </div>
											    
											    <!-- Left and right controls -->
												<a class="carousel-control-prev" href="#picture_carousel<%= project.id %>" data-slide="prev">
												    <span class="carousel-control-prev-icon"></span>
												</a>
												<a class="carousel-control-next" href="#picture_carousel<%= project.id %>" data-slide="next">
												    <span class="carousel-control-next-icon"></span>
												</a>

											</div>
										
															  
											

										</div>
									</div>
								</div>
								<div class="modal_content">
									<h3 class="modal_text_name"><%= project.name %></h3>
									<h4 class="modal_text_extra"><%= project.blurb %></h4>
									<div class="modal_text"><%= project.description %></div>
	
									<div class="top_modal_cont">
										<div class="container-fluid modal_cont">
											<div class="row modal_cont_row">
												<div class="col-sm-6 modal_cont_row_child">
														<a class="
														modal_atag>" href="<%= project.link %>">
															<div class="modal_button">View Code</div>
														</a>
												</div>
												<div class="col-sm-6 modal_cont_row_child2">
											<!--		<div class='modal_bottom'>	-->
														<div class="modal_exit">&#215;</div>
											<!--		</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>


						</div>
					<% end %>

	<!--  ------------------ End of Modal Content -----------------------  -->				
				</div>
			</div>
		</div>		

	</div>
	<div id="a4">
		<div class="arrowdown"></div>
		
		<div class="meetme col-sm-8">
			<h1 class="section_title">Contact</h1>
			<div class="underline"></div>
			<h3 style="color: #D9AB9A;">Let's connect and make something awesome together</h3>
		</div>

		<div class="myform col-sm-4">
			<%= form_for @contact do |f| %>

				<% if @contact.errors.any? %>
				    <div id="error_explanation">
				      <div><%= pluralize(fan.errors.count, "error") %> prohibited this fan from being saved:</div>

				      <ul>
					      <% fan.errors.full_messages.each do |message| %>
					        <li><div><%= message %></div></li>
					      <% end %>
				      </ul>
				    </div>
				<% end %>

				<div class="t-tooltip">
					<span class="tooltiptext">Hey, Silly, We Only Use Letters 'Round these parts!</span>
				</div>				
				<div><%= f.text_field :full_name, class: 'myform-info myform-name form', placeholder: "Your Name", :required => true %></div>
				<div><%= f.text_field :company, class: 'myform-info form', placeholder: "Company (Not Required)" %></div>
				<div><%= f.select(:reason, options_for_select([['Random Bypasser', 'Random'], ['Job Recruiter','Recruiting'], ['Employer Checking You Out', 'Employer'], ['Uh... You Told Me To', 'Kerron']]), {:prompt => 'What Brings You Here?'}, {:class => 'myform-why form', :required => true}) %></div>
				<div><%= f.text_area :comment, class: 'myform-text form', placeholder: 'Want to tell me something?', :required => true %></div>
				<div><%= f.text_field :email, class: 'myform-mail form', placeholder: "Email", :required => true %></div>
				  
				<%= f.submit 'Submit', class: 'myform-button' %>
			<% end %>
		</div>


	</div>