
<div><%= @project.name %></div>
<div><%= @project.language %></div>
<div><%= @project.description %></div>
<div><%= @project.blurb %></div>
<div><%= @project.link %></div>

<% if @project.pic2.to_s != "/images/original/missing.png" %>
	<div><%= image_tag @project.main_pic.url, style: 'height: auto; width: 500px;' %></div>
<% else %>
	<p> this sucks, the main picture is missing</p>
<% end %>

<% if @project.pic1.to_s != "/images/original/missing.png" %>
	<div><%= image_tag @project.pic1.url, alt: '', style: 'height: auto; width: 500px;' %></div>
<% else %>
	<p>this sucks, pic1 is missing</p>
<% end %>

<% if @project.pic2.to_s != "/images/original/missing.png" %>
	<div><%= image_tag @project.pic2.url, style: 'height: auto; width: 500px;' %></div>
<% else %>
	<p> this sucks, pic2 is missing </p>
<% end %>

<% if @project.pic3.to_s != "/images/original/missing.png" %>
	<div><%= image_tag @project.pic3.url, style: 'height: auto; width: 500px;' %></div>
<% else %>
	<p> this sucks, pic3 is missing </p>
<% end %>

<!--	<%= image_tag @project.pic1.url(:medium) %>
	<%= image_tag @project.pic1.url(:thumb) %>

	<%= image_tag @project.pic2.url %>
	<%= image_tag @project.pic2.url(:medium) %>
	<%= image_tag @project.pic2.url(:thumb) %>

	<%= image_tag @project.pic3.url %>
	<%= image_tag @project.pic3.url(:medium) %>
	<%= image_tag @project.pic3.url(:thumb) %> -->

<div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<% if @project.pic1.to_s != "/images/original/missing.png" %>
				    <li data-target="#demo" data-slide-to="0" class="active"></li>
				<% end %>

				<% if @project.pic2.to_s != "/images/original/missing.png" %>
			    	<li data-target="#demo" data-slide-to="1"></li>
			    <% end %>

			    <% if @project.pic3.to_s != "/images/original/missing.png" %>
			    	<li data-target="#demo" data-slide-to="2"></li>
			    <% end %>
			</ul>
								  
			<!-- The slideshow -->
			<div class="born">
				<div class="carousel-inner">
					<% if @project.pic1.to_s != "/images/original/missing.png" %>
					    <div class="carousel-item active">
					    	<%= image_tag @project.pic1.url, alt: '', style: 'height: auto; width: 100%;', :class => "pic1" %>
					    </div>
				    <% end %>
				    <% if @project.pic2.to_s != "/images/original/missing.png" %>
					    <div class="carousel-item">
					    	<%= image_tag @project.pic2.url, style: 'height: auto; width: 100%;', :class => "pic2" %>
					    </div>
				    <% end %>
				    <% if @project.pic3.to_s != "/images/original/missing.png" %>
					    <div class="carousel-item">
					    	<%= image_tag @project.pic3.url, style: 'height: auto; width: 100%;', :class => "pic3" %>
					    </div>
				    <% end %>
				</div>
			</div>
								  
			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			</a>
</div>
<br>
<br>
<br>
<br>