
<div><%= @project.name %></div>
<div><%= @project.language %></div>
<div><%= @project.description %></div>
<div><%= @project.blurb %></div>
<div><%= @project.link %></div>
	
<div><%= image_tag @project.pic1.url, style: 'height: auto; width: 500px;' %></div>
<div><%= image_tag @project.pic2.url, style: 'height: auto; width: 500px;' %></div>
<div><%= image_tag @project.pic3.url, style: 'height: auto; width: 500px;' %></div>

<!--	<%= image_tag @project.pic1.url(:medium) %>
	<%= image_tag @project.pic1.url(:thumb) %>

	<%= image_tag @project.pic2.url %>
	<%= image_tag @project.pic2.url(:medium) %>
	<%= image_tag @project.pic2.url(:thumb) %>

	<%= image_tag @project.pic3.url %>
	<%= image_tag @project.pic3.url(:medium) %>
	<%= image_tag @project.pic3.url(:thumb) %> -->

<div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
			    <li data-target="#demo" data-slide-to="0" class="active"></li>
			    <li data-target="#demo" data-slide-to="1"></li>
			    <li data-target="#demo" data-slide-to="2"></li>
			</ul>
								  
			<!-- The slideshow -->
			<div class="born">
				<div class="carousel-inner">
				    <div class="carousel-item active">
				    	<%= image_tag @project.pic1.url, style: 'height: auto; width: 100%;', :class => "pic1" %>
				    </div>
				    <div class="carousel-item">
				    	<%= image_tag @project.pic2.url, style: 'height: auto; width: 100%;', :class => "pic2" %>
				    </div>
				    <div class="carousel-item">
				    	<%= image_tag @project.pic3.url, style: 'height: auto; width: 100%;', :class => "pic3" %>
				    </div>
				</div>
			</div>
								  
			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			</a>
</div>