<!DOCTYPE html>
<html>
  <head>
    <title>Portsite3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= yield %>

    <div class="social-media">    	
    	<div class="go_to_top"><h1 class="double_delta">&#171;</h1></div>
		<div>
		    <div class="social-1">
			    <div class="social-fix">
			    	<div class="social-block">
				    	<div id="linked" class="social">
			    			<%= image_tag("linkedin.png", :class => "social-pic social-basic", :id => "linked-basic") %>
			    			<%= image_tag("linkedin.png", :class => "social-pic social-hover", :id => "linked-hover") %>
				    	</div>
				    </div>
				    <div class="social-block">	
				    	<div id="git" class="social">
				    		<%= image_tag("github.png", :class => "social-pic social-basic", :id => "git-basic") %>
				    		<%= image_tag("github.png", :class => "social-pic social-hover", :id => "git-hover") %>
				    	</div>
				    </div>
				    <div class="social-block">
				    	<div id="twitter" class="social">
			    			<%= image_tag("twitter.png", :class => "social-pic social-basic", :id => "twitter-basic") %>
			    			<%= image_tag("twitter.png", :class => "social-pic social-hover", :id => "twitter-hover") %>
				    	</div>
				    </div>
				    <div class="social-block">	
				    	<div id="insta" class="social">
			    			<%= image_tag("insta.png", :class => "social-pic social-basic", :id => "insta-basic") %>
			    			<%= image_tag("insta.png", :class => "social-pic social-hover", :id => "insta-hover") %>
				    	</div>
				    </div>
		    	</div>
		    </div>
		</div>
		
		<div class="copywrite">KERRON STREATER ©2019</div>
	  	


	</div>

	
  </body>
</html>
